Repository danielscholl/iac-terraform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline.yml, pipelines/azure-pipeline.yml

azure-pipeline.yml:
  stages:
  - template: pipelines/compose-stages.yml
    parameters:
      environments:
      - name: dev
        resourceNameIsolationLevel: 8
        enablePrIsolation: false
      configurations:
      - jobName: simpleweb
        terraformTemplatePath: samples/simpleweb
        terraformModulePath: modules
  ...

pipelines/azure-pipeline.yml:
  stages:
  - template: stage-compose.yml
    parameters:
      environments:
      - name: devint
        resourceNameIsolationLevel: 8
      - name: qa
        resourceNameIsolationLevel: 8
      configurations:
      - jobName: template_deployment
        terraformTemplatePath: $(TF_DEPLOYMENT_TEMPLATE_ROOT)
  ...

Updated apply bash scripts
  pipelines/stage-build.yml
  pipelines/stage-deploy.yml
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-ws-create.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Changes
  azure-pipeline.yml
  pipelines/stage-deploy.yml
  pipelines/tasks/tests-int.yml
  pipelines/tasks/tf-ws-compute.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Enable Tests and Teardown
  .artifactignore
  azure-pipeline.yml
  pipelines/publish-artifact.yml
  pipelines/tasks/tests-unit.yml
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-destroy.yml
  pipelines/tasks/tf-plan.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Moved to publish artifact task
  pipelines/publish-artifact.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  azure-pipeline.yml
  pipelines/publish-artifact.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated ignored artifacts
  .artifactignore
Due: none

Updated artifact ignore
  .artifactignore
Due: none

Moved back to copy
  pipelines/publish-artifact.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  azure-pipeline.yml
  pipelines/publish-artifact.yml
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

updates
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

updated
  pipelines/compose-stages.yml
  pipelines/publish-artifact.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Revert
  pipelines/publish-artifact.yml
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Turn on all tests
  .artifactignore
  azure-pipeline.yml
  pipelines/compose-stages.yml
  pipelines/stage-build.yml
  pipelines/stage-deploy.yml
  pipelines/tasks/tests-int.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Reenable ForceRun
  azure-pipeline.yml
  pipelines/compose-stages.yml
  pipelines/stage-build.yml
  pipelines/stage-deploy.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Force Tests added back
  pipelines/stage-build.yml
  pipelines/stage-deploy.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Final Changes
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated tenant output
  modules/app-service/output.tf
Due: none

Updated Integration Test
  go.sum
  samples/simpleweb/integration_test.go
  samples/simpleweb/main.tf
Due: none

Variables relocated
  azure-pipeline.yml
  samples/simpleweb/integration_test.go
Due: azure-pipeline.yml

Updates
  magefile.go
  modules/app-service/output.tf
  modules/keyvault/main.tf
Due: none

Tenant ID Change
  modules/app-service/output.tf
Due: none

Updated
  samples/webdata/integration_test.go
  samples/webdata/main.tf
Due: none

Adding Kubernetes
  modules/aks/README.md
  modules/aks/kubeconfig.tf
  modules/aks/main.tf
  modules/aks/outputs.tf
  modules/aks/test/.terraform.tfstate.lock.info
  modules/aks/test/main.tf
  modules/aks/test/unit_test.go
  modules/aks/variables.tf
  modules/aks/versions.tf
  modules/aks/virtualnodeaddon.tf
  modules/network/README.md
  samples/fullstack/main.tf
  samples/simplecluster/main.tf
  samples/simplecluster/terraform.tfvars
Due: none

Added initial gitops for aks
  README.md
  modules/aks-gitops/main.tf
  modules/aks-gitops/outputs.tf
  modules/aks-gitops/variables.tf
  modules/aks/test/.terraform.tfstate.lock.info
  modules/flux/README.md
  modules/flux/deploy_flux.sh
  modules/flux/main.tf
  modules/flux/output.tf
  modules/flux/variables.tf
  modules/keyvault-flexvol/deploy.sh
  modules/keyvault-flexvol/main.tf
  modules/keyvault-flexvol/variables.tf
  modules/keyvault_flexvol_role/main.tf
  modules/keyvault_flexvol_role/variables.tf
  modules/kubediff/README.md
  modules/kubediff/deploy_kubediff.sh
  modules/kubediff/main.tf
  modules/kubediff/output.tf
  modules/kubediff/variables.tf
Due: none

Added Virtual Machine
  modules/virtual-machine/main.tf
  modules/virtual-machine/os/outputs.tf
  modules/virtual-machine/os/variables.tf
  modules/virtual-machine/output.tf
  modules/virtual-machine/test/main.tf
  modules/virtual-machine/variables.tf
  modules/virtual-machine/versions.tf
Due: none

Added tenant id as single
  modules/app-service/output.tf
Due: none

Bug Fix
  modules/app-service/output.tf
Due: none

Updated Modules
  modules/ad-application/README.md
  modules/ad-application/main.tf
  modules/ad-application/outputs.tf
  modules/ad-application/tests/main.tf
  modules/ad-application/tests/unit_test.go
  modules/ad-application/variables.tf
  modules/aks/test/main.tf
  modules/aks/test/unit_test.go
  modules/app-service-oauth/azuredeploy.json
  modules/app-service-oauth/main.tf
  modules/app-service-oauth/output.tf
  modules/app-service-oauth/test/main.tf
  modules/app-service-oauth/variables.tf
  modules/app-service-oauth/versions.tf
Due: none

Updated App Service
  modules/app-service/main.tf
  modules/app-service/variables.tf
Due: none

Bug Fix
  modules/ad-application/main.tf
Due: none

Bug Fix
  modules/ad-application/main.tf
  modules/ad-application/outputs.tf
Due: none

Updated modules
  modules/ad-application/versions.tf
  modules/app-service-oauth/azuredeploy.json
  modules/app-service-oauth/main.tf
  modules/app-service-oauth/output.tf
  modules/app-service-oauth/test/main.tf
  modules/app-service-oauth/variables.tf
  modules/app-service-oauth/versions.tf
  modules/app-service/main.tf
  modules/app-service/test/main.tf
  modules/app-service/variables.tf
  modules/app-service/versions.tf
Due: none

update provider to 44
  modules/provider/main.tf
Due: none

Updated
  modules/app-service/main.tf
Due: none

Bug Fix
  modules/app-service/main.tf
  modules/app-service/variables.tf
Due: none

Added Samples
  samples/webauth/main.tf
  samples/webauth/terraform.tfvars
  samples/webauth/test/user.http
  samples/webdata/test/user.http
Due: none

urls
  samples/fullstack/main.tf
Due: none

Added test cases
  samples/webauth/main.tf
  samples/webauth/test/user.http
  samples/webdata/test/user.http
Due: none

Path conditions:
  azure-pipeline.yml: any of: azure-pipeline.yml, pipelines, but not: **/*.md
  pipelines/azure-pipeline.yml: any of: pipelines, but not: **/*.md
